.profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width:  80%;
    margin: auto;
    background-color: #e3dddd;
    box-sizing: border-box;
    border-radius: 16px;
}

.profile-info{
    flex: 1;
    margin-left:20px;
    padding: 20px;
    padding-left: 5%;
    color: #333;
}

.Letters{
    font-family: 'Arial', sans-serif;
}


.bet-history {  
    padding: 20px;
    box-sizing: border-box;
}

.Botoes {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.Botoes button {
    border-radius: 12px;
    size-adjust: 100px;
}

.Botoes button:nth-child(1) {
    background-color: #ffffff; /* Cor de fundo do botão de retirada */
    color: #000; /* Cor do texto do botão de retirada */
}

.Botoes button:nth-child(2) {
    background-color: #ff0000; /* Cor de fundo do botão de depósito */
    color: #fff; /* Cor do texto do botão de depósito */
}